//botonera
.bg-nav{background-color: $navColor;
    ul{
        display:flex;
            li{
                display: flex;
                color: $blueColor1;
                font-family: $mainFont;
                text-decoration: none;
                list-style: none;
                font-weight: 800;
                margin-right: 25px;
                margin-top: 5px;
                a{
                    color: $TercColor;
                    font-size: $fontSizeMd;
                    text-decoration: underline;
                    &:hover{
                        color: $secondaryColor;
                    }
                }
            }
        }
    }