// Colores

$mainColor: brown;
$secondaryColor: black;
$blueColor1: rgb(5,5,130);
$TercColor: crimson;
$navColor: rgba(222, 195, 176, 0.8);
$keyColor: yellow;
$footColor: rgb(189, 233, 233,);
$prodBarisColor: white;

// Sizes Fonts

$fontSizeXXL: 4rem;
$fontSizeLg: 3rem;
$fontSizeMd: 2rem;
$fontSizeSm: 1rem;

//Family Font
$mainFont: 'Roboto', Sans-Serif;
$secondFont: 'Nunito', Sans-Serif;
$tercFont: 'Open Sans', Sans-Serif;
